*{
    box-sizing: border-box;
    margin: 0;
}



.container{
    background-color: rgb(114, 93, 234);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {

    height: 50px;
    width: 250px;
    border: 1px solid transparent;
}


input::placeholder{
    padding-left: 3px;
    font-size: 1em;
}


.icon-btn{
 height: 50px;
 width: 50px;
 background-color: white;
 border: none;
 margin: 0;
 cursor: pointer;
 
}


input.active{
    display: none;
    width: 300px;
}