*{
    box-sizing: border-box;
    margin: 0;
}
body,html{
    height: 100%;
    width: 100%;
}

body{
    background-color: steelblue;

}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.left,.center,.right{
    height: 100px;
    width: 100px;
    background-color: #fff;
}